<form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form">
  <h2 class="form__title">Login</h2>
  <label for="username" class="form__label">Email</label>
  <input
    class="form__input"
    type="email"
    id="email"
    formControlName="email"
    required
    autocomplete="email"
  />
  <label for="password" class="form__label">Password</label>
  <input
    class="form__input"
    type="password"
    id="password"
    formControlName="password"
    required
    autocomplete="new-password"
  />
  <button class="form__button" type="submit">Login</button>
  <span class="form__link-container">
    <span class="form__link-container__text"
      >do not have an account?{{ "  " }}</span
    >
    <a class="form__link-container__link" routerLink="/index/signup">signup!</a>
  </span>
</form>
