<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      @if (dataSave){
      <article class="modal-save">
        <h2 class="modal-save__element__title">
          Texto guardado! acá está tu cotización:
        </h2>
        <div class="modal-save__element">
          <span class="modal-save__element_label">Títle:</span>
          <span class="modal-save__element_value">{{ dataSave.title }}</span>
        </div>
        <div class="modal-save__element">
          <span class="modal-save__element_label">Type:</span>
          <span class="modal-save__element_value">{{ dataSave.type }}</span>
        </div>
        <div class="modal-save__element">
          <span class="modal-save__element_label">Price:</span
          ><span class="modal-save__element_value">{{ dataSave.price }}</span>
        </div>

        <ul class="modal-save__element-discount">
          @for (discount of dataSave.discounts; track $index) {
          <h3 class="modal-save__element-discount__title">Discounts</h3>
          <li class="modal-save__element">
            <span class="modal-save__element-discount_label"
              >{{ discount.concept }} </span
            ><span class="modal-save__element_discount_value"
              >{{ discount.percentage }}%</span
            >
          </li>
          } @empty {
          <h3 class="modal-save__element-discount__title">Discounts</h3>
          <li class="modal-save__element">
            <span class="modal-save__element-discount_label">None </span>
          </li>
          }
        </ul>
        <div class="modal-save__element">
          <span class="modal-save__element_label">Total Price: </span
          ><span class="modal-save__element_value">{{
            dataSave.totalPrice
          }}</span>
        </div>
      </article>
      } @else if (dataWholesaleQuoteModal) {
      <h2 class="tables-title">Quotes</h2>
      <div class="text-table">
        <h3 class="text-table__tile">books</h3>

        <table
          *ngIf="dataWholesaleQuoteModal.booksQuote?.length > 0"
          class="table-container"
        >
          <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Discoount</th>
              <th>total price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of dataWholesaleQuoteModal.booksQuote">
              <td>{{ book.title }}</td>
              <td>{{ book.price }}</td>
              <td>
                <ul *ngIf="book.discounts?.length > 0">
                  <li *ngFor="let discount of book.discounts">
                    {{ discount.concept }}: {{ discount.percentage }}%
                  </li>
                </ul>
              </td>
              <td>{{ book.totalPrice }}</td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="dataWholesaleQuoteModal.booksQuote?.length === 0">
          No book chosen.
        </p>
      </div>
      <h3 class="text-table__tile">Novels</h3>
      <table
        *ngIf="dataWholesaleQuoteModal.novelsQuote?.length > 0"
        class="table-container"
      >
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Discoount</th>
            <th>total price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let novel of dataWholesaleQuoteModal.novelsQuote">
            <td>{{ novel.title }}</td>
            <td>{{ novel.price }}</td>
            <td>
              <ul *ngIf="novel.discounts?.length > 0">
                <li *ngFor="let discount of novel.discounts">
                  {{ discount.concept }}: {{ discount.percentage }}%
                </li>
              </ul>
            </td>
            <td>{{ novel.totalPrice }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="dataWholesaleQuoteModal.novelsQuote?.length === 0">
        No novels chosen.
      </p>

      <h3 class="tables-title">Summary</h3>

      <table *ngIf="dataWholesaleQuoteModal?.summary" class="table-container">
        <thead>
          <tr>
            <th>concept</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Subtotal</td>
            <td>{{ dataWholesaleQuoteModal?.summary?.subtotal }}</td>
          </tr>
          <tr *ngIf="dataWholesaleQuoteModal?.summary?.discounts?.length > 0">
            <td>Discounts</td>
            <td>
              <ul>
                <li
                  *ngFor="
                    let discount of dataWholesaleQuoteModal?.summary?.discounts
                  "
                >
                  {{ discount.concept }}: {{ discount.percentage }}%
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{ dataWholesaleQuoteModal?.summary?.total }}</td>
          </tr>
        </tbody>
      </table>

      } @else if (dataBudgetSale) { @if
      (dataBudgetSale.messageFromServer.succeed) {
      <h2 class="table__title">Resumen de cotización</h2>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Discounts</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let text of dataBudgetSale.suggestedTextsBatch; index">
            <td>{{ text.title }}</td>
            <td>{{ text.type }}</td>
            <td>{{ text.price }}</td>
            <td>
              <ul *ngIf="text.discounts?.length > 0">
                <li *ngFor="let discount of text.discounts">
                  {{ discount.concept }}: {{ discount.percentage }}%
                </li>
              </ul>
            </td>
            <td>{{ text.totalPrice }}</td>
          </tr>
        </tbody>
      </table>

      <div class="summary">
        <p>Subtotal: {{ dataBudgetSale.quoteSummary?.subtotal }}</p>
        <p>Descuentos:</p>
        <ul *ngIf="dataBudgetSale.quoteSummary?.discounts?.length > 0">
          <li *ngFor="let discount of dataBudgetSale.quoteSummary?.discounts">
            {{ discount.concept }}: {{ discount.percentage }}%
          </li>
        </ul>
        <p>Total: {{ dataBudgetSale.quoteSummary?.total }}</p>
      </div>
      } @else {
      <h2>{{ dataBudgetSale.messageFromServer.message }}</h2>
      } }

      <div class="modal-footer">
        <button class="modal__button" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
