<form>
  <h2>Sign Up</h2>
  <label for="username">Username</label>
  <input
    type="text"
    id="username"
    name="username"
    required
    autocomplete="username"
  />
  <label for="email">Email</label>
  <input type="email" id="email" name="email" required autocomplete="email" />
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    required
    autocomplete="new-password"
  />
  <label for="confirmPassword">Confirm Password</label>
  <input
    type="password"
    id="confirmPassword"
    name="confirmPassword"
    required
    autocomplete="new-password"
  />
  <button type="submit">Sign Up</button>
</form>
