* {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  color: green;
  font-size: 2rem;
  margin: 2rem;

  background-color: rgb(182, 182, 182);
  border-radius: 2rem;
  padding: 1.5rem;
}
