<section class="home-menu">
  <h2 class="home-menu__title">¿Qué deseas hacer?</h2>
  <div class="home-menu__content-container">
    <div class="content-container__element">
      <h3 class="content-container__element-description">
        ¿Agregar y cotizar un texto?
      </h3>
      <button class="content-container__element-button">Realizar</button>
    </div>
    <div class="content-container__element">
      <h3 class="content-container__element-description">
        ¿Escoger varios textos y cotizar?
      </h3>
      <button class="content-container__element-button">Realizar</button>
    </div>
    <div class="content-container__element">
      <h3 class="content-container__element-description">
        ¿Escoger varios textos según tu presupuesto y cotizar?
      </h3>
      <button class="content-container__element-button">Realizar</button>
    </div>
  </div>
</section>
