* {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-menu {
  display: flex;
  flex-direction: column;
  .home-menu__title {
    margin-bottom: 2rem;

    font-size: 2rem;
    font-weight: 600;
  }
  .home-menu__content-container {
    display: flex;
    flex-direction: column;

    .content-container__element {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      margin-block: 1rem;
      .content-container__element-description {
        margin-bottom: 0.5rem;

        font-size: 1.2rem;
        font-weight: 500;
        margin-right: 1rem;
      }
      .content-container__element-button {
        /* margin-block: 1rem; */
        font-weight: 800;
        width: fit-content;
        padding: 0.5rem;
        background-color: rgb(85, 64, 83);
        transition: background-color 0.5s ease-in-out;

        border: rgba(43, 43, 43, 0.719) 2px solid;

        /* align-self: center; */
      }
      .content-container__element-button:hover {
        background-color: rgb(247, 187, 242);
        text-shadow: -1px 0px 11px rgba(0, 0, 0, 0.822);
      }
    }
  }
}
